<!DOCTYPE html>
<html lang="en">

<head>
  <title>Games Bot by The Pi Guy</title>

  <meta name="description" content="A Discord bot to enjoy all your favourite board games with your friends">
  <meta name="keywords" content="board, games, heroku, discord.js, discord, bot, multiplayer, entertainment, fun">
  <meta name="author" content="Alexander Cai">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/main.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
  </script>
</head>

<body>
  <script src="/socket.io/socket.io.js"></script>
  <script>const socket = io();</script>
  <%# The actual body comes in the files, and the closing tags come in footer.ejs %>
  <% include ./nav.ejs %>
  <main role="main" class="container">
