<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">
    <img class="rounded mr-3 align-top" src="/assets/img/games-bot-logo.png" width="30" height="30" alt="chess piece wearing a crown">
    Games Bot
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/commands">Commands</a>
      </li>
    </ul>
    
    <ul class="navbar-nav ml-auto mr-sm-2">
      <li class="nav-item">
        <a class="btn btn-primary" href="/api/discord/login">Login through discord</a>
      </li>
    </ul>

    <form class="form-inline mr-sm-2" action="">
      <input class="form-control mr-sm-2" id="cmd">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Send</button>
    </form>

    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Messages
      </button>
      <div class="dropdown-menu dropdown-menu-right mt-2 mt-sm-0 p-2" id="messages" style="min-width: 25rem">
        <h5 class="dropdown-header">Send a command to the bot!</h5>
      </div>
    </div>
  </div>
</nav>
