<% include ../partials/header.ejs %>

<div class="jumbotron text-center mt-5">
  <h1 class="display-1"><%= code || 500 %></h1>
  <p class="lead"><%= message || 'Internal Server Error' %></p>
</div>

<% include ../partials/footer.ejs %>
