<% include ../partials/header.ejs %>

<div class="jumbotron text-center mt-5">
  <div class="container">
    <h1>Games Bot</h1>
    <p>A Discord bot to enjoy all your favourite board games with your friends</p>
    <a class="btn btn-lg btn-primary" href="https://github.com/piguyinthesky/games-bot">
      Source on GitHub
    </a>
  </div>
</div>

<% include ../partials/footer.ejs %>
