<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Pi Guy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>The Pi Guy</h1>
    <p>This is a Discord Bot programmed using discord.js to play all of your favourite board games.</p>
  </div>
</div>

</body>
</html>
